<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Asignatura')"></head>
<body>
	<header th:insert="fragments/barra::nav"></header>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<h1 class="text-center mt-3">Asignar asignaturas a grado</h1>
			<div class="col-10">
				<form th:action="@{/grados/addasignatura}" method="post" th:object="${asignatura}">
					<label for="grado" class="form-label mt-3">Grado</label><br>
					<select class="form-select" name="grado" id="grado" th:field="*{gradoId}" required>
						<option th:each="g : ${grados}" th:value="${g.getId()}" th:text="${g.getNombre()}"></option>
					</select><br>
					
					<label for="asignatura" class="form-label mt-3">Asignatura</label><br>
					<select class="form-select" name="asignatura" id="asignatura" th:field="*{asignaturaId}" required>
						<option th:each="a : ${asignaturas}" th:value="${a.getId()}" th:text="${a.getNombre()}"></option>
					</select>
					
					<h6 class="text-danger" th:if="${error!=null}" th:text="${'Error, datos existentes'}"></h6>	
					<input type="submit" class="btn btn-danger w-100 mt-3" value="AÑADIR" />	
				</form>
			</div>
		</div>
	</div>
</body>
</html>