<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EstudioExamen</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DatosUsuario</servlet-name>
		<servlet-class>org.alixar.servidor.controller.DatosUsuario</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdatePassword</servlet-name>
		<servlet-class>org.alixar.servidor.controller.UpdatePassword</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdminMainServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.AdminMainServlet</servlet-class>
	</servlet>

 	<servlet>
		<servlet-name>CustomersServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.CustomersServlet</servlet-class>
	</servlet> 

	<servlet>
		<servlet-name>PaymentsServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.PaymentsServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EmployeesServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.EmployeesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OfficesServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.OfficesServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EmployeeOffice</servlet-name>
		<servlet-class>org.alixar.servidor.controller.EmployeeOffice</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ProductsServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.ProductsServlet</servlet-class>
	</servlet>

 	<servlet>
		<servlet-name>ProductsDetails</servlet-name>
		<servlet-class>org.alixar.servidor.controller.ProductsDetails</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ProductsDetailsUser</servlet-name>
		<servlet-class>org.alixar.servidor.controller.ProductsDetailsUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddPayment</servlet-name>
		<servlet-class>org.alixar.servidor.controller.AddPayment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdatePayment</servlet-name>
		<servlet-class>org.alixar.servidor.controller.UpdatePayment</servlet-class>
	</servlet>
	
 	<servlet>
		<servlet-name>DeletePayment</servlet-name>
		<servlet-class>org.alixar.servidor.controller.DeletePayment</servlet-class>
	</servlet> 
	
	<servlet>
		<servlet-name>UsuariosServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.UsuariosServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.OrdersServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.OrderDetailsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchProductServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.SearchProductServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>org.alixar.servidor.controller.LogOutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DatosUsuario</servlet-name>
		<url-pattern>/DatosUsuario</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdatePassword</servlet-name>
		<url-pattern>/UpdatePassword</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdminMainServlet</servlet-name>
		<url-pattern>/AdminMainServlet/</url-pattern>
	</servlet-mapping>

 	<servlet-mapping>
		<servlet-name>CustomersServlet</servlet-name>
		<url-pattern>/AdminMainServlet/CustomersServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PaymentsServlet</servlet-name>
		<url-pattern>/AdminMainServlet/PaymentsServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddPayment</servlet-name>
		<url-pattern>/AdminMainServlet/AddPayment</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdatePayment</servlet-name>
		<url-pattern>/AdminMainServlet/UpdatePayment</url-pattern>
	</servlet-mapping>

 	<servlet-mapping>
		<servlet-name>DeletePayment</servlet-name>
		<url-pattern>/AdminMainServlet/DeletePayment</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EmployeesServlet</servlet-name>
		<url-pattern>/AdminMainServlet/EmployeesServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OfficesServlet</servlet-name>
		<url-pattern>/AdminMainServlet/OfficesServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EmployeeOffice</servlet-name>
		<url-pattern>/AdminMainServlet/EmployeeOffice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProductsServlet</servlet-name>
		<url-pattern>/AdminMainServlet/ProductsServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProductsDetails</servlet-name>
		<url-pattern>/AdminMainServlet/ProductsDetails</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProductsDetailsUser</servlet-name>
		<url-pattern>/ProductsDetailsUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UsuariosServlet</servlet-name>
		<url-pattern>/AdminMainServlet/UsuariosServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/AdminMainServlet/OrdersServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<url-pattern>/AdminMainServlet/OrderDetailsServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchProductServlet</servlet-name>
		<url-pattern>/SearchProductServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOutServlet</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.alixar.servidor.filters.AdminFilter</filter-class>
	</filter>

	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.alixar.servidor.filters.UserFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<servlet-name>Payments</servlet-name>
		<servlet-name>UpdatePayment</servlet-name> <servlet-name>AddPayment</servlet-name>
		<servlet-name>AdminMainServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/SearchProductServlet</url-pattern>
	</filter-mapping> -->

</web-app>