
<div class="w-100" th:fragment="nav">
	<nav class="nav nav-tabs nav-justified bg-dark">
		<a class="nav-link text-white shadow" href="/">Inicio</a> 
		<a class="nav-link text-white shadow" th:href="@{/grados/}">Grados</a>
		<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link text-white shadow" th:href="@{/grados/addGrado}">Añadir grado</a>
		<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link text-white shadow" th:href="@{/grados/addasignatura}">Añadir asignatura a grado</a>
		<a sec:authorize="!isAuthenticated()" class="nav-link text-white shadow" th:href="@{/login}">Login</a>
		<a class="nav-link text-white" th:href="@{/logout}"><i class="bi bi-box-arrow-left"></i></a>
	</nav>
</div>
